.index {
  text-align: center;
  background-color: $primaryColor;

  .image {
    @include border-radius(10px);
    max-width: 400px;
    margin: 30px auto;
  }

  .demo {
    background-color: white;
    padding: 50px;
    color: $primaryColor;
  }
}
